cfs entry for: _3.fld
doc 0
  field 0
    name title
    type string
    value C:\\Users\\fippi\\IdeaProjects\\Idd\\hw2\\core\\src\\test\\resources\\dummy\\avvertimento.txt
doc 1
  field 0
    name title
    type string
    value C:\\Users\\fippi\\IdeaProjects\\Idd\\hw2\\core\\src\\test\\resources\\dummy\\volpe.txt
END
checksum 00000000003032521412
cfs entry for: _3.inf
number of fields 2
  name title
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name content
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000003123723227
cfs entry for: _3.len
field content
  type NUMERIC
  minvalue 58
  pattern 0
0
T
1
T
END
checksum 00000000002258671877
cfs entry for: _3.pst
field content
  term abbiano
    doc 0
      freq 1
      pos 126
  term ad
    doc 0
      freq 1
      pos 30
  term agli
    doc 0
      freq 1
      pos 134
  term albero
    doc 1
      freq 2
      pos 90
      pos 135
  term albo
    doc 1
      freq 1
      pos 103
  term alcuna
    doc 0
      freq 1
      pos 52
  term allegati
    doc 0
      freq 1
      pos 137
  term alterando
    doc 0
      freq 1
      pos 67
  term ama
    doc 0
      freq 1
      pos 33
  term andoe
    doc 1
      freq 1
      pos 73
  term antichi
    doc 0
      freq 1
      pos 43
  term aqui
    doc 1
      freq 1
      pos 156
  term aquila
    doc 1
      freq 5
      pos 21
      pos 50
      pos 93
      pos 110
      pos 113
  term arbitrio
    doc 0
      freq 1
      pos 31
  term ardere
    doc 1
      freq 2
      pos 101
      pos 133
  term as
    doc 0
      freq 1
      pos 149
  term avea
    doc 1
      freq 2
      pos 13
      pos 94
  term avvertimento
    doc 0
      freq 1
      pos 0
  term berti
    doc 0
      freq 2
      pos 1
      pos 93
  term bocca
    doc 1
      freq 1
      pos 120
  term bono
    doc 0
      freq 1
      pos 21
  term cando
    doc 1
      freq 1
      pos 75
  term cer
    doc 1
      freq 1
      pos 74
  term certe
    doc 0
      freq 1
      pos 101
  term chiamandole
    doc 1
      freq 1
      pos 43
  term chiedere
    doc 1
      freq 1
      pos 66
  term chiose
    doc 0
      freq 1
      pos 106
  term chiostro
    doc 0
      freq 1
      pos 125
    doc 1
      freq 1
      pos 108
  term ciascuno
    doc 0
      freq 1
      pos 47
  term cioè
    doc 0
      freq 1
      pos 86
  term ciò
    doc 1
      freq 1
      pos 138
  term codici
    doc 0
      freq 1
      pos 44
  term col
    doc 1
      freq 1
      pos 117
  term colle
    doc 0
      freq 1
      pos 26
  term come
    doc 0
      freq 3
      pos 3
      pos 35
      pos 94
  term correggere
    doc 0
      freq 1
      pos 61
  term cre
    doc 0
      freq 1
      pos 58
  term curava
    doc 1
      freq 1
      pos 52
  term dal
    doc 0
      freq 3
      pos 9
      pos 89
      pos 92
  term dall
    doc 0
      freq 1
      pos 32
  term dandosi
    doc 0
      freq 1
      pos 56
  term darlo
    doc 1
      freq 1
      pos 33
  term de
    doc 1
      freq 2
      pos 28
      pos 68
  term degli
    doc 0
      freq 1
      pos 42
  term delli
    doc 1
      freq 2
      pos 97
      pos 124
  term dere
    doc 0
      freq 1
      pos 59
    doc 1
      freq 1
      pos 149
  term desse
    doc 1
      freq 1
      pos 48
  term dicie
    doc 1
      freq 1
      pos 3
  term die
    doc 1
      freq 1
      pos 41
  term direb
    doc 0
      freq 1
      pos 20
  term disse
    doc 1
      freq 1
      pos 127
  term diversissimi
    doc 0
      freq 1
      pos 2
  term dove
    doc 1
      freq 1
      pos 91
  term dunque
    doc 1
      freq 1
      pos 130
  term ebbe
    doc 1
      freq 1
      pos 121
  term ella
    doc 1
      freq 1
      pos 77
  term era
    doc 1
      freq 1
      pos 7
  term essendoché
    doc 0
      freq 1
      pos 45
  term et
    doc 1
      freq 1
      pos 12
  term farsetti
    doc 0
      freq 1
      pos 83
  term fi
    doc 1
      freq 1
      pos 142
  term figliuo
    doc 1
      freq 1
      pos 125
  term figliuoli
    doc 1
      freq 3
      pos 30
      pos 99
      pos 107
  term figliuolo
    doc 1
      freq 1
      pos 152
  term fuoco
    doc 1
      freq 2
      pos 80
      pos 118
  term fusi
    doc 0
      freq 1
      pos 97
  term fìgliuo
    doc 1
      freq 1
      pos 16
  term giudicar
    doc 0
      freq 1
      pos 128
  term glie
    doc 1
      freq 1
      pos 46
  term gliuoli
    doc 1
      freq 1
      pos 143
  term grande
    doc 1
      freq 1
      pos 122
  term guastando
    doc 0
      freq 1
      pos 69
  term i
    doc 0
      freq 4
      pos 81
      pos 87
      pos 146
      pos 164
    doc 1
      freq 1
      pos 106
  term in
    doc 0
      freq 3
      pos 15
      pos 120
      pos 152
    doc 1
      freq 3
      pos 0
      pos 17
      pos 119
  term incontra
    doc 0
      freq 1
      pos 37
  term innanzi
    doc 1
      freq 1
      pos 145
  term introdotte
    doc 0
      freq 1
      pos 29
  term isfrcgio
    doc 0
      freq 1
      pos 121
  term l
    doc 1
      freq 3
      pos 89
      pos 102
      pos 155
  term li
    doc 1
      freq 2
      pos 126
      pos 140
  term m
    doc 1
      freq 1
      pos 18
  term mangiare
    doc 1
      freq 1
      pos 36
  term manni
    doc 0
      freq 1
      pos 90
  term massime
    doc 0
      freq 1
      pos 142
  term meno
    doc 0
      freq 1
      pos 151
  term merze
    doc 1
      freq 1
      pos 67
  term merzè
    doc 1
      freq 1
      pos 44
  term met
    doc 0
      freq 1
      pos 50
  term miei
    doc 1
      freq 1
      pos 141
  term migliorare
    doc 0
      freq 1
      pos 63
  term mocenigo
    doc 0
      freq 1
      pos 85
  term modo
    doc 0
      freq 2
      pos 16
      pos 104
  term moralità
    doc 0
      freq 1
      pos 102
  term mu
    doc 0
      freq 1
      pos 27
  term muoiano
    doc 1
      freq 1
      pos 144
  term nanzi
    doc 1
      freq 1
      pos 19
  term nativa
    doc 0
      freq 1
      pos 160
  term ne
    doc 0
      freq 1
      pos 73
    doc 1
      freq 1
      pos 86
  term nelle
    doc 0
      freq 1
      pos 38
  term nido
    doc 1
      freq 2
      pos 27
      pos 96
  term niente
    doc 1
      freq 2
      pos 53
      pos 64
  term non
    doc 0
      freq 1
      pos 117
    doc 1
      freq 1
      pos 51
  term notammo
    doc 0
      freq 1
      pos 4
  term nuense
    doc 0
      freq 1
      pos 34
  term nè
    doc 1
      freq 1
      pos 69
  term p
    doc 1
      freq 3
      pos 92
      pos 112
      pos 134
  term palatino
    doc 0
      freq 1
      pos 140
  term par
    doc 0
      freq 1
      pos 77
  term parole
    doc 0
      freq 1
      pos 153
  term paura
    doc 1
      freq 1
      pos 123
  term per
    doc 0
      freq 1
      pos 107
    doc 1
      freq 2
      pos 32
      pos 100
  term più
    doc 0
      freq 3
      pos 95
      pos 109
      pos 165
  term portossene
    doc 1
      freq 1
      pos 24
  term presone
    doc 1
      freq 1
      pos 82
  term priego
    doc 1
      freq 1
      pos 71
  term pubblicati
    doc 0
      freq 1
      pos 88
  term quali
    doc 0
      freq 1
      pos 147
  term quando
    doc 1
      freq 2
      pos 56
      pos 111
  term rado
    doc 0
      freq 1
      pos 119
  term ramente
    doc 0
      freq 1
      pos 66
  term ras
    doc 0
      freq 1
      pos 13
  term re
    doc 1
      freq 1
      pos 104
  term religiosi
    doc 0
      freq 1
      pos 113
  term ren
    doc 1
      freq 2
      pos 47
      pos 148
  term renderglielo
    doc 1
      freq 1
      pos 55
  term riccardiano
    doc 0
      freq 2
      pos 10
      pos 138
  term riposelo
    doc 1
      freq 1
      pos 154
  term ritraggo
    doc 0
      freq 1
      pos 157
  term sai
    doc 0
      freq 1
      pos 150
  term se
    doc 1
      freq 1
      pos 85
  term secondi
    doc 0
      freq 1
      pos 130
  term semplicità
    doc 0
      freq 1
      pos 161
  term sensi
    doc 0
      freq 1
      pos 112
  term si
    doc 0
      freq 3
      pos 12
      pos 19
      pos 129
  term somigliano
    doc 0
      freq 1
      pos 14
  term spesso
    doc 0
      freq 1
      pos 36
  term sua
    doc 1
      freq 1
      pos 10
  term suo
    doc 0
      freq 1
      pos 55
    doc 1
      freq 2
      pos 15
      pos 29
  term suoi
    doc 1
      freq 1
      pos 98
  term talentasse
    doc 0
      freq 1
      pos 48
  term tana
    doc 1
      freq 1
      pos 11
  term tazioni
    doc 0
      freq 1
      pos 28
  term tere
    doc 0
      freq 1
      pos 51
  term testi
    doc 0
      freq 1
      pos 82
  term ti
    doc 1
      freq 1
      pos 146
  term tirate
    doc 0
      freq 1
      pos 110
  term tizzone
    doc 1
      freq 1
      pos 84
  term trascrizioni
    doc 0
      freq 1
      pos 41
  term tro
    doc 1
      freq 1
      pos 42
  term trovoe
    doc 1
      freq 1
      pos 78
  term tu
    doc 1
      freq 1
      pos 132
  term tuo
    doc 1
      freq 1
      pos 151
  term uscita
    doc 1
      freq 1
      pos 8
  term v
    doc 1
      freq 1
      pos 49
  term valeva
    doc 1
      freq 1
      pos 63
  term vanno
    doc 0
      freq 1
      pos 148
  term ve
    doc 0
      freq 1
      pos 65
  term vedere
    doc 0
      freq 1
      pos 79
  term venire
    doc 1
      freq 1
      pos 116
  term venne
    doc 1
      freq 2
      pos 22
      pos 87
  term verbosi
    doc 0
      freq 1
      pos 99
  term verse
    doc 0
      freq 1
      pos 40
  term vide
    doc 1
      freq 2
      pos 59
      pos 115
  term voglio
    doc 1
      freq 1
      pos 147
  term volgarizzamento
    doc 0
      freq 1
      pos 24
  term volpe
    doc 1
      freq 5
      pos 2
      pos 6
      pos 38
      pos 58
      pos 129
  term vuogli
    doc 1
      freq 1
      pos 131
field title
  term C:\\Users\\fippi\\IdeaProjects\\Idd\\hw2\\core\\src\\test\\resources\\dummy\\avvertimento.txt
    doc 0
  term C:\\Users\\fippi\\IdeaProjects\\Idd\\hw2\\core\\src\\test\\resources\\dummy\\volpe.txt
    doc 1
END
checksum 00000000002208022347
table of contents, size: 4
  filename: _3.fld
    start: 22
    end: 351
  filename: _3.inf
    start: 373
    end: 1127
  filename: _3.len
    start: 1149
    end: 1246
  filename: _3.pst
    start: 1268
    end: 10791
table of contents begins at offset: 0000000000000010791
